@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';
@use '../../styles/core/fonts';

.portfolio-wrapper {
  //display: grid;
  //align-items: center;
  //align-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100vh;
  @include mediaQueries.desktop {
    height: 100%;
  };
  .portfolio-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    .portfolio-title-wrapper {
      margin: 60px 0;
      width: 20%;
      max-width: 460px;
      @include mediaQueries.desktop {
        width: 100%;
      };
      @include mediaQueries.maxWidthMobile {
        margin: 0;
      }
        .portfolio-app-title-image_wrapper {
          width: 229px;
          @include mediaQueries.maxWidthMobile {
            width: 171px
          }
          .portfolio-app-title-image_title {
            top: 92px;
            left: 130px;
            @include mediaQueries.minWidthBigDesktops {
              left: 154px;
            };
            @include mediaQueries.desktop {
              left: 151px;
            }
            @include mediaQueries.maxWidthMobile {
              top: 66px;
              left: 101px;
            }
        }
      }
    }
    .portfolio-carousel-wrapper {
      width: 74%;
      height: 100%;
      margin: 60px 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      @include mediaQueries.desktop {
        width: 100%;
      };
      .carousel-item {
        min-height: 450px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 60px;
        @include mediaQueries.maxWidthMobile {
          margin-bottom: 50px;
        };
        .portfolio-carousel-card_wrapper {
          max-height: 750px;
          width: 32vw;
          @include mediaQueries.desktop {
            width: 90%;
          };
          @include mediaQueries.minWidthBigDesktops {
            width: 31vw;
            margin-right: 40px;
            max-height: 100%;
          };
          .portfolio-card-image_wrapper {
            .card {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: nowrap;
              justify-content: space-between;
            }
            .image-wrapper {
              position: relative;
              width: 100%;
              height: 320px;
              overflow: hidden;
              margin-bottom: 10px;
              @include mediaQueries.maxWidthMobile {
                height: 225px;
              };
              @include mediaQueries.minWidthBigDesktops {
                height: 400px;
              };
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: opacity 0.3s ease-in-out;
              cursor: pointer;
            }
    
            .hover-image {
              opacity: 0;
            }
    
            .image-wrapper:hover .hover-image {
              opacity: 1;
            }
          }
          .portfolio-card-description_wrapper {
            margin: 45px 0;
            .portfolio-card-description_content {
              .portfolio-card-description_content-text {
                line-height: 35px;
                @include mediaQueries.minWidthBigDesktops {
                  line-height: 42px;
                  font-size: 27px;
                };
                @include mediaQueries.maxWidthMobile {
                  font-size: fonts.$font-size-content-mobile;
                }
              }
            }
          }
          .portfolio-card-footer_wrapper {
            .portfolio-card-footer_content {
              @include mediaQueries.minWidthBigDesktops {
                font-size: 27px;
                line-height: 35px;
              };
              @include mediaQueries.maxWidthMobile {
                font-size: fonts.$font-size-content-mobile;
              }
            }
          }
        }
        
      }
      .dots-wrapper {
        @include mediaQueries.minWidthdesktop {
          display: none;
        }
        @include mediaQueries.maxWidthMobile {
          position: absolute;
          top: 244px;
        }
      }
    }
  }
}





