@use '../../styles/core/colors';
@use '../../styles/core/fonts';

.app-button {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-color: transparent;
  color: colors.$white;
  cursor: pointer;
  &:focus {
    outline-style: none;
  }
  a {
    //display: block;
    width: 100%;
    height: 100%;
  }
}

