@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';
@use '../../styles/core/fonts';


.about-wrapper {
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100vh;
  display: flex;
  @include mediaQueries.desktop {
    height: 100%;
  };
  .about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    .about-text-wrapper {
      margin: 60px 0;
      @include mediaQueries.desktop {
        width: 100%;
      };
      .about-text-title {
      }
      .about-text-content {
        margin: 30px 0;
        .about-text-paragraph {
          margin: 5px 0;
          line-height: 35px;
          font-weight: fonts.$font-regular;
          font-size: 1.5vw;
          @include mediaQueries.desktop {
            font-size: 20px;
          };
        }
      }
    }
    .about-image-wrapper {
      margin: 60px 0;
      width: 55%;
      height: 100%;
      @include mediaQueries.desktop {
        width: 100%;
      };
      .about-image {
        height: 100%;
        width: 100%;
        min-width: 450px;
      }
    }
  }
}

