@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';
@use '../../styles/core/fonts';


.about-wrapper {
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100vh;
  display: flex;
  @include mediaQueries.desktop {
    height: 100%;
  };
  @include mediaQueries.maxWidthMobile {
    display: block;
  };
  .about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    .about-text-wrapper {
      margin: 60px 0;
      @include mediaQueries.maxWidthMobile {
        margin: 0;
      }
      @include mediaQueries.desktop {
        width: 100%;
      };
      .about-text-title {
      }
      .about-text-content {
        margin: 30px 0;
        .about-text-paragraph {
          margin: 5px 0;
          line-height: 35px;
          font-weight: fonts.$font-regular;
          font-size: 1.5vw;
          @include mediaQueries.desktop {
            font-size: 20px;
          };
          @include mediaQueries.minWidthBigDesktops {
            line-height: 50px;
            font-size: 1.6vw;
          };
        }
      }
    }
    .about-image-wrapper {
      margin: 60px 0;
      width: 52%;
      height: 100%;
      @include mediaQueries.desktop {
        width: 100%;
        position: relative;
      };
      @include mediaQueries.maxWidthMobile {
        height: 400px;
      }
      .about-image {
        height: 100%;
        width: 100%;
        min-width: 354px;
        @include mediaQueries.desktop {
          min-height: 350px;
        };
        @include mediaQueries.maxWidthMobile {
          object-fit: cover;
          height: 100%;
          // height: auto; REMOVE this line for normal ratio responsiveness
          position: absolute;
        };
      }
    }
  }
}

