@use '../../styles/core/rules';
@use '../../styles/core/mediaQueries';

.app-title-image_wrapper {
  position: relative;
  width: 248px;
  .app-title-image_image {
  }
  .app-title-image_title {
    @include rules.center;
    top: 63px;
    left: 107px;
    font-size: 27px;
  }
}