@use '../../styles/core/rules';
@use '../../styles/core/mediaQueries';

.app-title-image_wrapper {
  position: relative;
  width: 248px;
  @include mediaQueries.minWidthBigDesktops {
    width: 260px;
    margin-bottom: 60px;
  };
  @include mediaQueries.maxWidthMobile {
    width: 184px;
  };
  .app-title-image_image {
  }
  .app-title-image_title {
    @include rules.center;
    top: 63px;
    left: 107px;
    width: 12.4vw;
    @include mediaQueries.minWidthBigDesktops {
      font-size: 31px;
    };
    @include mediaQueries.desktop {
      top: 62px;
      left: 158px;
      width: 100%;
    };
    @include mediaQueries.maxWidthMobile {
      top: 50px;
      left: 105px;
      width: 150px;
    };
  }
}