@use '../../styles/core/mediaQueries';
@use '../../styles/core/fonts';

.app-title {
  margin: 16px 0;
  font-size: 2vw;
  @include mediaQueries.minWidthBigDesktops {
    line-height: 65px;
  };
  @include mediaQueries.desktop {
    font-size: 30px;
  };
  @include mediaQueries.maxWidthMobile {
    font-size: fonts.$font-size-header-mobile;
  };
}