@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';
@use '../../styles/core/vars';

.contact-wrapper {
  //background-color: colors.$footer;
  //padding: vars.$footerPaddingDefault;
  //border-top: 1px solid colors.$footerBorder;
  min-height: 650px;
  height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include mediaQueries.minWidthBigDesktops {
    padding: vars.$footerPaddingMinWidthBigDesktops;
  }
  @include mediaQueries.tablet {
    padding: vars.$footerPaddingTablet;
    height: 65vh;
    min-height: 650px;
  };
  @include mediaQueries.maxWidthMobile {
    padding: vars.$footerMaxWidthMobile;
  }
  .contact-title-wrapper {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center; */
    .contact-text-paragraph_title {
      font-size: 28px;
    }
    .contact-button-image {

    }
    .contact-button-button {
      width: 87%;
    }
  }
}