@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';


.home-wrapper {
  align-items: center;
  @include mediaQueries.maxWidthMobile {
    height: 100vh;
  }
  .home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    .home-text-wrapper {
      margin: 60px 0;
      width: 42%;
      @include mediaQueries.desktop {
        width: 470px;
      };
      @include mediaQueries.maxWidthMobile {
        min-height: 255px;
        position: relative;
        margin-bottom: 0;
        margin: 0 0 20px 0;
        width: 100%;
      }
      .home-text-content {
        //width: 100%;
        //width: 470px;
        line-height: 50px;
        @include mediaQueries.maxWidthMobile {
          width: 340px;
          min-width: 250px;
        }
      }
      .home-button-image {
      }
      .home-button-button {
      }
    }
    .home-image-wrapper {
      margin: 60px 0;
      width: 52%;
      height: 100%;
      @include mediaQueries.desktop {
        width: 100%;
        position: relative;
      };
      @include mediaQueries.maxWidthMobile {
        height: 280px;
        margin: 22px 0;
      }
      .home-image {
        height: 100%;
        width: 100%;
        min-width: 276px;
        @include mediaQueries.desktop {
          //height: 350px;
        };
        @include mediaQueries.maxWidthMobile {
          object-fit: cover;
          height: 222px;
          //height: 100%;
          // height: auto; REMOVE this line for normal ratio responsiveness
          position: absolute;
        };
      }
    }
  }
}

