@use '../../styles/core/mediaQueries';
@use '../../styles/core/colors';


.home-wrapper {
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  .home-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    .home-text-wrapper {
      margin: 60px 0;
      @include mediaQueries.desktop {
        width: 100%;
      };
      .home-text-content {
      }
      .home-button-image {
      }
      .home-button-button {
      }
    }
    .home-image-wrapper {
      margin: 60px 0;
      width: 55%;
      height: 100%;
      @include mediaQueries.desktop {
        width: 100%;
        position: relative;
      };
      @include mediaQueries.maxWidthMobile {
        height: 400px;
      }
      .home-image {
        height: 100%;
        width: 100%;
        min-width: 354px;
        @include mediaQueries.desktop {
          min-height: 350px;
        };
        @include mediaQueries.maxWidthMobile {
          object-fit: cover;
          height: 100%;
          // height: auto; REMOVE this line for normal ratio responsiveness
          position: absolute;
        };
      }
    }
  }
}

