@use '../../styles/core/colors';
@use '../../styles/core/rules';

.home-button-wrapper {
  position: relative;
  width: 136px;
  .app-button-image {
    cursor: pointer;
  }
  .app-button-button {
    @include rules.center;
    background-color: colors.$black;
    width: 80%;
  }
}